/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.form-gallery {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.form-gallery-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
}

.form-gallery-btn {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  margin-left: 8px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  transition: color 250ms ease-in-out;
}

.form-gallery-btn:hover {
  background: #6c8cff;
}

.gallery-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 24px;
}

/* .image-gallery {
  margin-top: 48px;
  border: 1px solid #808080;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text-gallery {
  display: flex;
  flex-direction: row;
  gap: 24px 24px;
  height: 48px;
  justify-content: space-evenly;
}

.text-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-top: 4px;
  padding-bottom: 4px;
}

.loader {
  margin-left: 681px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #fff #fff transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #ff3d00 #ff3d00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #fff #fff transparent transparent;
  animation: rotation 1.5s linear infinite;
}

.hidden {
  display: none;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.load-more-button {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background: #4e75ff;
}

.load-more {
  color: #fff;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
} */

.image-wrapper {
  width: 360px;
  height: 200px;
  flex-shrink: 0;
  /* border: 1px solid #808080; */
}
.gallery-img {
  width: 360px;
  height: 152px;
  object-fit: cover;
}
.text-wrapper {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  width: 360px;
  height: 48px;
  flex-shrink: 0;
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  background: #fff;
}
.text-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-header {
  color: #2e2f42;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.48px;
  padding-top: 4px;
}

.text-paragraph {
  color: #2e2f42;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
}

/* ============================CSS LOADERS======================== */

.loader {
  margin-left: 681px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #fff #fff transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #ff3d00 #ff3d00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #fff #fff transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.hidden {
  display: none;
}

.hidden {
  display: none;
}
